language: python

python:
  - "3.5"
  - "3.6"

sudo: false

before_install:
  - pip install -r "requirements.txt"
  - pip install flake8
  - pip install coveralls
  - export PYTHONPATH=$PYTHONPATH:$(pwd)

install:
  - pip install .

script:
  - flake8 .
  - cd implementations/tests
  - coverage run --source=../code_df,../scripts run_tests.py

after_success:
  - coveralls
